body {
  background: #BD648A;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background: center / cover no-repeat
  url(images/bran575-019.jpeg);
}

.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #BD648A;
  color: white;
  font-family: "crimson text", "gill sans";
  font-size: 35px;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.3s;
}

.button:hover {
  color: #BD648A;
  font-family: "crimson text", "gill sans";
  height: 82.5px;
  width: 450px;
  float: left;
  border: 0.5px;
}

#home:hover {
  background: #EA3BAB;
}

#about:hover {
  background: #EE5E21;
}

#linkedin:hover {
  background: #EEB221;
}

#github:hover {
  background: #93EE21;
}

#vsco:hover {
  background: #3B53EA;
}

#ig:hover {
  background: #A13BEA;
}

.header {
  background: #BD648A;
  color: white;
  font-family: "crimson text", "gill sans";
  font-size: 60px;
  text-align: center;
}

.body {
  background: #BD648A;
  color: white;
  font-family: "crimson text", "gill sans";
  font-size: 25px;
  text-align: center;
}

.fcfooter {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
  color: white;
  font-family: "work sans", "gill sans";
}
