/*~*~*~*~* OPENING ANIMATION *~*~*~*~*/

/* body,
.button,
.button2,
#trike {
  -webkit-animation: colorchange 4s;
}

@-webkit-keyframes colorchange {
  0% {
    background: #000;
  }
  50% {
    background: #726da8;
  }
  100% {
    background: #db5461;
  }
} */

/*~*~*~*~* BODY & HEADER *~*~*~*~*/

body {
  width: 100vw;
  height: 100vh;
  background: #db5461;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background: center / cover no-repeat;
}

/*~*~*~*~* NAVBAR *~*~*~*~*/

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #db5461;
  color: white;
  font-family: "helvetica", "garamond";
  font-size: 25px;
  font-weight: 200;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.7s;
  border-radius: 10px 50px 50px 50px;
}

.button:hover {
  font-family: "helvetica", "garamond";
  font-size: 33px;
  font-weight: 300;
  float: left;
  border: 0.5px;
  background: #bdb4cb;
  border-radius: 10px 50px 50px 50px;
  opacity: 0.8;
  width: 50vw;
  height: 20vh;
}

#linkedin:hover {
  background: #dbba53;
}

#github:hover {
  background: #52dacd;
}

#vsco:hover {
  background: #60da52;
}

#ig:hover {
  background: #db53d5;
}

#spotify:hover {
  background: #8952da;
}

/*~*~*~*~* NAME *~*~*~*~*/

.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.button2 {
  color: white;
  background: #db5461;
}

#slogan {
  font-size: 20px;
  font-family: "helvetica";
  font-weight: 100;
  padding: 5px;
}

#name {
  color: #ffeaee;
  font-size: 80px;
  font-weight: 700;
  font-family: "helvetica", "garamond";
}

#name:hover {
  font-size: 90px;
  color: #ffeaee;
  transition-duration: 1.5s;
}

/*~*~*~*~* FOOTER *~*~*~*~*/

.fcfooter {
  display: flex;
  height: 25vh;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  color: white;
  font-family: "helvetica", "garamond";
}

.fcfooter:hover {
  font-size: 15px;
  transition-duration: 2s;
}
