

body, .button, .button2 {
  -webkit-animation: colorchange 5s;
}

@-webkit-keyframes colorchange
{
  0% {background: #000;}
  50% {background: #002118;}
  100% {background: #335954;}
}

body {
  width: 100vw;
  height: 100vh;
  background: #335954;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background: center / cover no-repeat
}

.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.button2 {
  color: white;
  background: #335954;
}

#slogan {
  font-size: 20px;
  font-family: "helvetica";
  font-weight: 100;
  padding: 5px;
}

#name {
  font-size: 80px;
  font-weight: 700;
  font-family: "helvetica", "garamond";
}

#name:hover {
  font-size: 88px;
  color: white;
  transition-duration: 1s;
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #335954;
  color: white;
  font-family: "helvetica", "garamond";
  font-size: 25px;
  font-weight: 200;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.7s;
}

.button:hover {
  font-family: "helvetica", "garamond";
  font-size: 30px;
  font-weight: 300;
  height: 82.5;
  width: 550px;
  float: left;
  border: 0.5px;
  background: #BDB4CB;
  background-color: rgba(189, 180, 203, .7);
}

#linkedin:hover {
  background: #ef497e;
}

#github:hover {
  background: #c44196;
}

#vsco:hover {
  background: #483b77;
}

#ig:hover {
  background: #3c3a5c;
}

.fcfooter {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  color: white;
  font-family: "helvetica", "garamond";
}
