body {
  width: 100vw;
  height: 100vh;
  -webkit-animation: colorchange 7s;
}

.button, .button2 {
  -webkit-animation: colorchange 7s;
}

@-webkit-keyframes colorchange
{
  0% {background: #000;}
  50% {background: #5853E4;}
  100% {background: #BD648A;}
}

body {
  width: 100vw;
  height: 100vh;
  background: #BD648A;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background: center / cover no-repeat
}

.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.button2 {
  color: white;
  background: #BD648A;
  font-family: "crimson text", "gill sans";
}

#slogan {
  font-size: 25px;
  font-family: "work sans", "gill sans";
}

#name {
  font-size: 75px;
}

#name:hover {
  font-size: 100px;
  color: white;
  background: #BD648A;
  font-family: "crimson text", "gill sans";
  transition-duration: 0.7s;
}

.wrapper {
  text-align: center;
  padding: 100px;
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #BD648A;
  color: white;
  font-family: "crimson text", "gill sans";
  font-size: 35px;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.3s;
}

.button:hover {
  color: #BD648A;
  font-family: "crimson text", "gill sans";
  height: 82.5px;
  width: 450px;
  float: left;
  border: 0.5px;
}

#home:hover {
  background: #EA3BAB;
}

#about:hover {
  background: #EE5E21;
}

#linkedin:hover {
  background: #EEB221;
}

#github:hover {
  background: #93EE21;
}

#vsco:hover {
  background: #3B53EA;
}

#ig:hover {
  background: #A13BEA;
}

.fcfooter {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "work sans", "gill sans";
}
