body {
  background: #e45853;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  background: center / cover no-repeat
  url(images/bran575-019.jpeg);
}

.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #e45853;
  color: white;
  font-family: "gill sans";
  font-size: 40px;
  align-content: stretch;
  height: 100px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.3s;
}

#home:hover {
  background: #E4A153;
  color: #E45853;
  font-family: "gill sans";
  font-size: 60px;
  height: 100px;
  width: 500px;
  float: left;
  border: 0.5px;
}

#resume:hover {
  background: #DFE453;
  color: #e45853;
  font-family: "gill sans";
  font-size: 60px;
  height: 100px;
  width: 500px;
  float: left;
  border: 0.5px;
}

#github:hover {
  background: #97E453;
  color: #e45853;
  font-family: "gill sans";
  font-size: 60px;
  height: 100px;
  width: 500px;
  float: left;
  border: 0.5px;
}

#linkedin:hover {
  background: #53E458;
  color: #e45853;
  font-family: "gill sans";
  font-size: 60px;
  height: 100px;
  width: 500px;
  float: left;
  border: 0.5px;
}

#ig:hover {
  background: #53E4A1;
  color: #e45853;
  font-family: "gill sans";
  font-size: 60px;
  height: 100px;
  width: 500px;
  float: left;
  border: 0.5px;
}

.title {
  background: #e45853;
  color: white;
  font-family: "gill sans";
  font-size: 60px;
  text-align: center;
}

.body {
  background: #e45853;
  color: white;
  font-family: "gill sans";
  font-size: 25px;
  text-align: center;
}

.fcfooter {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
  color: white;
  font-family: "gill sans";
}
